<% include ./partials/header.ejs %>

    <div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
        <div class="cards flex flex-wrap gap-6 justify-center">
            <% user.posts.forEach(function(elem){ %>
                <div class="card w-40 bg-zinc-700 rounded-lg shadow-md hover:shadow-lg transition">
                    <div class="w-full h-48 bg-gray-200 rounded-lg overflow-hidden">
                        <img src="/images/uploads/<%= elem.image %>" alt="<%= elem.title %>"
                            class="w-full h-full object-cover">
                    </div>
                    <h5 class="mt-2 text-sm font-semibold text-center">
                        <%= elem.title %>
                    </h5>
                </div>
                <% }) %>
        </div>
    </div>

    <% include ./partials/footer.ejs %>